body {
    font-family:lato, sans-serif;
    font-weight:300;
    color:#141414;
    margin: 5px 10px;
}
/* headings and logos */

header {
    top: 0;
    display: inline-block;
}

h1, h2 {font-family:oswald, sans-serif;
       text-transform:uppercase; 
       letter-spacing:2.5px;
       color:#252525;
}

#logo {
    float:left;
    font-size:210%;
    margin:20px 20px;
    color: rgb(38, 151, 44);
    font-weight: 700;
}
/* navigation links */


#menu {
    font-size:110%;
    letter-spacing:2px;
    background-color: rgb(87, 136, 94, 0.4);
}
#menu, #logo {
    line-height:75px;
}

#menu > li {
    float: right;
    list-style-type:none;
    margin-right:30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom:1px solid #3a3a3a;
}

.active {
    font-weight: 600;
}


/*Hero image */
#hero-image {
    height: 600px;
    width:100%;
    /*overflow: hidden; */
    position: relative;
    margin: auto;
    background: url(../css/images/group-tuition.jpg) no-repeat center center;
    background-size:cover;
}


/* Cover text box */
#cover-text {
    color:#000000;
    font-size: 20px;
    font-family: sans-serif;
    text-align:center;
    width: 600px;
    height: 170px;
    background-color: rgba(136, 209, 107, 0.7);
    top: 40px;
    right: 75px;
    position: absolute;
    /* Animates zoom effect on home page */
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }
  /* Creates the level of zoom for hero image 1 */
  @keyframes hero-zoom {
      from{
          transform: scale(0.8);
     }
      to{
          transform: scale(1.0);
     }
  }






/* Sections  */
.section-heading-uppercase {
    text-align: center;

}

.services {
    margin: auto;
}


.reviews {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.review-title {
    float: right;
}

.review {
    text-align: left;  
}

#fernando {
        background-image: url(images/fernando\ alonso.jpg);
        height: 75px;
        width:75px;
        background-size: cover;
        background-repeat: no-repeat;
        float:left;
}

#lance {
    background-image: url(images/lance-stroll.jpg);
    height: 75px;
    width:75px;
    background-size: cover;
    background-repeat: no-repeat;
    float:left;
}

#susie {
    background-image: url(images/susie-wolff.jpg);
    height: 75px;
    width:75px;
    background-size: cover;
    background-repeat: no-repeat;
    float:left;
}

.gcse {
    background-color: rgba(148, 233, 193, 0.74); 
}

.alevel {
    background-color: rgba(153, 186, 218, 0.842); 
}






/* Footer  */
footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(181, 223, 126);
    min-height: 65px;
    margin: 0;
}

.social-network {
    text-align: center;
    margin: 10px 0px;
    padding: 0;
}

.social-network > li {
    display: inline-block;
    padding: 0px 12px;
    margin: 7px 0px;
}

.social-network > li > p {
    margin: 0px 0px;
}

.social-network i {
    font-size: 160%;
    margin: 1%;
    color:#3a3a3a;
}



/* ------------ Media Queries for screens smaller than 820px ----- */

@media (max-width: 820px) {
    #menu {
        font-size:90%;
        letter-spacing:1.6px;
    }
    #menu, #logo {
        line-height:70px;
    }
    
    #menu > li {
        margin-right:20px;
    }
}


/* ------------ Media Queries for screens smaller than 685px ----- */

@media (max-width: 685px) {
    #logo {
        font-size: 90%;
    }
    #menu, #logo {
        line-height:55px;
    }
    #menu > li {
        margin-right:10px;
    }

}