body {
    font-family:lato, sans-serif;
    font-weight:300;
    color:#141414;
    margin: 15px;
}
/* headings and logos */

header {
    top: 0;
    display: inline-block;
}

h1, h2 {font-family:oswald, sans-serif;
       text-transform:uppercase; 
       letter-spacing:2.5px;
       color:#252525;
}

#logo {
    float:left;
    font-size:210%;
    margin:20px 20px;
}
/* navigation links */


#menu {
    font-size:110%;
    letter-spacing:2px;
    background-color: rgb(87, 136, 94, 0.4);
}
#menu, #logo {
    line-height:75px;
}

#menu > li {
    float: right;
    list-style-type:none;
    margin-right:30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom:1px solid #3a3a3a;
}

.active {
    font-weight: 600;
}

/* Sections  */
.services {
    background-color: rgb(255, 255, 255);
}

.reviews {
    background-color: #ffffff;
}


.gcse {
    background-color: rgba(148, 233, 193, 0.74);
    margin: 10px;
}

.alevel {
    background-color: rgba(153, 186, 218, 0.842);
    margin: 10px;
}

/* Footer  */
footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(181, 223, 126);
    min-height: 65px;
    margin: 0;
}

.social-network {
    text-align: center;
    margin: 10px 0px;
    padding: 0;
}

.social-network > li {
    display: inline-block;
    padding: 0px 12px;
    margin: 7px 0px;
}

.social-network > li > p {
    margin: 0px 0px;
}

.social-network i {
    font-size: 160%;
    margin: 1%;
    color:#3a3a3a;
}



/* ------------ Media Queries for screens smaller than 820px ----- */

@media (max-width: 820px) {
    #menu {
        font-size:90%;
        letter-spacing:1.6px;
    }
    #menu, #logo {
        line-height:70px;
    }
    
    #menu > li {
        margin-right:20px;
    }
}


/* ------------ Media Queries for screens smaller than 685px ----- */

@media (max-width: 685px) {
    #logo {
        font-size: 90%;
    }
    #menu, #logo {
        line-height:55px;
    }
    #menu > li {
        margin-right:10px;
    }

}