<title>Booking a Tutor Session</title>
{% extends 'base.html' %}
{% load static %}
{% block body %}




{% if user.is_authenticated %}
<h1 class="text-center  mt-3">Online Booking</h1>

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <form method="post" action="{% url 'bookings' %}" class="me-2 ms-2" required>
        {% csrf_token %}

        <!--input tuition type-->
        <div>
            <h3 class="">Select Tuition Type:</h3>
            <select class="form-select fs-3" name="tuitiontype">
                <option value="GCSE Biology">GCSE Biology</option>
                <option value="GCSE Chemistry">GCSE Chemistry</option>
                <option value="GCSE Physics">GCSE Physics</option>
                <option value="A-LEVEL Biology">A-LEVEL Biology</option>
                <option value="A-LEVEL Chemistry">GCSE Chemistry</option>
                <option value="A-LEVEL Physics">GCSE Physics</option>
            </select>
        </div>
            <!--input day-->
            <div class="mt-3">
                <h3 class="">Select Day:</h3>
                <select class="form-select fs-3" name="day">
                    {% for validateDates in validateDates %}
                    <option value="{{ValidateDate}}">{{ValidateDate}}</option>
                    {% endfor %}
                </select>
            </div>

            <br/>
            <button type="submit" class="btn btn-primary text-white">Continue</button>
        </div>
    </form>
</div>

{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <h1 class="p-2  me-3">You Are Not Signed in! You cannot book a session without signing in!</h1>
    <a href="{% url 'register' %}" class="btn btn-primary shadow text-center">Sign in</a>
</div>

{% endif %}


{% endblock %}