{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div>
            <img src="../static/images/science tutor.jpg" class="hero-image" alt="Woman tutoring boy, drawing of a labelled cell on a whiteboard.">
        </div>

        <section class="services">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col">
                            <h2 class="section-heading-uppercase">Services and Prices</h2>
                            <h4 class="section-heading-uppercase">You pay on the day. Card and Cash accepted.</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-md-6 gcse">
                            <div class="row">
                                <div class="col-10">
                                    <br>
                                    <h3>GCSE Sessions</h3>
                                    <br>
                                    <h4>GCSE: Biology, Chemistry and Physics (1 hour sessions)</h4>
                                    <p> One on One support. Tailor made classes to answer the students concerns that have been submitted to the tutor prior to the session.
                                        Specialising in the AQA and Edexcel exam boards. Expert tutors that are able to confidently teach the syllabus and provide students with lots of exam practice.
                                    </p>
                                    <h4>Prices on weekdays (Mon, Tue, Wed, Fri)</h4>
                                    <ul>
                                        <li>1 hour session: £15</li>

                                    </ul>
                                    <h4>Prices on weekends (Sat & Sun)</h4>
                                    <ul>
                                        <li>1 hour session: £20</li>
                                    </ul>
                                    
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-md-6 alevel">
                            <div class="row">
                            <div class="col-10">
                                <br>
                                <h3>AS and A-level Sessions</h3>
                                <br>
                                <h4>AS & A2: Biology, Chemistry and Physics (1 hour sessions)</h4>
                                <p> One on One support. Tailor made classes to answer the students concerns that have been submitted to the tutor prior to the session.
                                Specialising in the AQA and Edexcel exam boards. Expert tutors that are able to teach and provide students with exam practice and support with UCAS applications.
                                </p>
                                <h4>Prices on weekdays (Mon, Tue, Wed, Fri)</h4>
                                <ul>
                                    <li>1 hour session: £25</li>
                                </ul>
                                <h4>Prices on weekends (Sat & Sun)</h4>
                                <ul>
                                    <li>1 hour session: £30</li>
                                </ul>
                            
                            </div>
                        </div>
                </div>
                    </section>
    
    
        <section class="reviews">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col">
                            <h2 class="section-heading uppercase">Reviews</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-md-4 review">
                            <div class="row"> 
                                <div class="col-10 review-text">
                                    <h4 class="review-title">"Great Value for Money"</h4>
                                    <h5>Fernando Alonso (parent)</h5>
                                    <p> One-to-one tuition is usually so expensive per hour, I couldn't justify the cost weekly.
                                        These sessions are so affordable and my daughter says they are really helpful.
                                    </p>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-md-4 review">
                            <div class="row">     
                                <div class="col-10">
                                    <h4 class="review-title">"Got me my A* in Biology"</h4>
                                    <h5>Lance Stroll (student)</h5>
                                    <p> Helped so much with exam prep and understanding topics I found difficult in class.
                                        Got the highest grade in my last assessment!                           
                                    </p>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-md-4 review">
                            <div class="row">
                                <div class="col-10">
                                    <h4 class="review-title">"So convenient. I don't have to drive to the tutors house!"</h4>
                                    <h5>Susie Wolff (parent)</h5>
                                    <p>
                                        This is such an easy way for my child to get the extra support in class. I don't have to drive my son to his tutors house in rush hour traffic!
                                        They can make their way there by themselves after school.
                                    </p>
                                    <br>
                                </div>
                            </div>
                        </div>
                        
    
                    </div>
                </div>
            </div>
    
    
    </section>
        

           
    </div>
</div>

{% endblock %}

