<title>Staff View</title>
{% extends 'base.html' %}
{% load static %}
{% block body %}




{% if user.is_authenticated %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <h1 class="text-center mt-5 mb-5">Staff View</h1>
    <input class="form-control form-control-lg fs-3 border border-primary" id="myInput" type="text" placeholder="Search booked sessions">
    <br>
    
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover mx-auto">
          <thead>
            <tr>
              <th class="text-center" scope="col">User</th>
              <th class="text-center" scope="col">Tuition Type</th>
              <th class="text-center" scope="col">Date</th>
              <th class="text-center" scope="col">Time</th>
            </tr>
          </thead>
          <tbody id="myTable">
              {% for item in items %}
            <tr>
              <td class="text-center">{{item.time_choice}}</td>
              <td class="text-center">{{item.user}}</td>
              <td class="text-center">{{item.tuitiontype}}</td>
              <td class="text-center">{{item.day}}</td>
            </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>

</div>

{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
  <h1 class="p-2  me-3">You need to sign in first!</h1>
  <a href="{% url 'login' %}" class="btn btn-primary text-white">Sign in</a>
</div>

{% endif %}

<!--Staff View Search-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

{% endblock %}

    <!-- Should be able to view all booked sessions-->

    <footer>   
        <ul class="social-network">
            <li><p>Super Tutor © 2023</p></li>
            <li><a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in new tab)"><i class="fa-brands fa-facebook"></i></a>
            </li>
        </ul>
    </footer>
        
</body>
</html>